.container {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background-color: white;
}

.center {
    text-align: center;
}

body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

.get-btn {
    background-color: red;
    width: 100px;
    height: 50px;
}